<!-- <script type="text/javascript">
  $(document).ready(function(){
    $('.player_button').click(function(){
        $('.player_form').append('<input type="text" value="" name="team[roster][]" id="team_roster"><br>')
      });
    $('.game_button').click(function(){
    $('.game_form').append('<input type="text" value="" name="team[games][]" id="team_games"><br>')
    });
  });  
</script> -->
<%= image_tag('MJ.jpg') %>

<div class="create_team">
  <div id="create_team_container">
  <h2 id="white_label">Create a Team</h2><br>

   <%= form_tag({controller: "teams", action: "create"}, method: "post") do |f|%>
     <label for="team_name" id="white_label">Name</label>
     <input type="text" value="" name="team[name]" id="team_name"><br><br>
     <div class="game_form">
       <label for="team_sport_id" id="white_label">Sport: </label>
       <%= collection_select(:team, :sport_id, Sport.all, :id, :name, prompt: true) %>
     </div><br>
     <div class="player_form">
         <label for="team_roster" id="white_label">Add Teammate Emails</label>
         <input type="text" value="" name="team[roster][]" id="team_roster"><br>
     </div>
     <a class="player_button">Add Email</a><br><br>
     <input type="submit" value="Create"><br><br>
     <div class="hidden">
       <input type="text" value=<%= @user.id %> name="team[user_id]" id="team_games" >
    </div>
   <% end %>
   <%= link_to "User Dashboard", user_path(current_user) %>
  </div>
</div>

