<%= render partial: "nav.html" %>
<!-- NAV DROPDOWN WITH USERS TEAM -->
<div class="nav_dropdown">
  <% current_user.teams.each do |team_object| %>
    <div class="nav_tile">
      <a href=<%="/teams/"+team_object.id.to_s%>> <%= team_object.name %> </a>
    </div> 
  <% end %>
  <div class="nav_tile">
    <a href=<%="/users/"+current_user.id.to_s%>> Dashboard </a>
  </div> 
  <div class="nav_tile">
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </div>
</div>

<!-- START DASHBOARD -->
<h1><%= @team.name %> Dashboard</h1>
<div class="team_id"><%= @team.id %></div>

<%= @team.name %>'s Roster:<br>
<% @team.users.each do |player_object|%>
  - <%= player_object.name %><br>
<% end %>

<div class="calendar_container">
<% if @games.count > 0 %>
    <%= month_calendar events: @games do |date, games| %>
      <%= date %>
      <% games.each do |game| %>
        <div>
          <%= game.game_info%> | 
          <%=link_to "Edit", edit_game_path(game) %> | 
          <%= link_to 'Delete', game_path(game), :method => :delete %>
        </div>
      <% end %>
    <% end %>
<% else %>
    <%= month_calendar do |date| %>
      <%= date %>
    <% end %>
<% end %>
</div>

<div class="create_edit_vacate_games"><div class="close_window">X</div>
  <div class="create_game_button">Create New Game</div>
    <div class="create_game_form">
      <%= form_for @game, url: games_path do |f| %>
        <%= f.label :game_info, "Game Information" %><br>
        <%= f.text_area :game_info %><br>
        <%= f.label :game_tame, "Game Time" %><br>
        <input type="text" value="" name="game[game_time]" id="game_time"><br><br>
        <%= f.label :location, "Location" %><br>
        <input type="text" value="" name="game[location]" id="game_location"><br><br>
        <input class="hidden_team_id" name="game[team_id]"type="text" value=''>
        <input type="submit" value="Add Game">
      <% end %>
    </div>
</div>