<%= render partial: "nav.html" %>
<!-- NAV DROPDOWN WITH USERS TEAM -->
<div class="team_container">
  <div class="nav_dropdown">
    <% current_user.teams.each do |team_object| %>
      <div class="nav_tile">
        <a href=<%="/teams/"+team_object.id.to_s%>> <%= team_object.name %> </a>
      </div> 
    <% end %>
    <div class="nav_tile">
      <a href=<%="/users/"+current_user.id.to_s%>> Dashboard </a>
    </div> 
    <div class="nav_tile">
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    </div>
  </div>


  <!-- START DASHBOARD -->
  <h1><%= @team.name %> Dashboard</h1><div id="team_delete_link"><%= link_to 'Delete Team', team_path(@team), :method => :delete %></div>
  <div class="team_id"><%= @team.id %></div>
</div>
<div class="team_roster">
 <div id="roster_title">Roster</div><br>
  <% @team.users.each do |player_object|%>
    <div class="roster_player">- <%= player_object.name %> | <%= player_object.email %><br></div>
  <% end %>
</div>


<div class="cal_create_game"><div class="close_window">X</div>
    <div class="create_game_form">
      <%= form_for @game, url: games_path do |f| %>
        <%= f.label :game_info, "Game Information" %><br>
        <%= f.text_area :game_info %><br>
        <%= f.label :game_date, "Game Date" %><br>
        <input type="text" value="" name="game[game_date]" id="game_date"><br><br>
        <%= f.label :game_time, "Game Time" %><br>
        <input type="text" value="" name="game[game_time]" id="game_time"><br><br>
        <%= f.label :location, "Location" %><br>
        <input type="text" value="" name="game[location]" id="game_location"><br><br>
        <input class="hidden_team_id" name="game[team_id]"type="text" value=''>
        <input type="submit" value="Add Game">
      <% end %>
    </div>
</div>

<div class="calendar_container">
  <div class="calendar">
  <% if @games.count == 0 %>
  <%= month_calendar events: @games, day_names: "date.day_names" do |date, games| %>
  <% if games == [] %>
        <div class="cal_date_no_game"><%= date %></div>
  <% end %>
  <% end %>
  <% end %>
  <% if @games.count > 0 %>
      <%= month_calendar events: @games, day_names: "date.day_names" do |date, games| %>
      <% if games == [] %>
            <div class="cal_date_no_game"><%= date %></div>
      <% end %>
      <!-- IF ANY GAME ARE PRESENT MAKE CONTAINER -->
      <% if games.length>0 %>
          <div class="cal_date"><%= date %></div>
      <% end %>
      <!-- ITERATION: populate cal days with game icon and info -->
        <% if games.length > 0 %>
        <% games.each do |game| %>

            
                <div class="game_attendance">
                <img class=<%= game.team.sport.name %> src="">
                
                <div class='attending_container'>
                <div class='close_out'>X</div>
                <!-- FORM -->
                    <div class='not_attending'>
                      <%= form_tag({controller: "users", action: "update"}, method: "patch") do |f|%>
                        <input type="text" value="" name="games_not_attending[game_info]" class="games_not_attending_game_info"><br>
                      <% end %>
                    </div>
                <!-- END FORM -->
              </div>

                <div class="calendar_game_info">
                      <p><%= game.game_info %><br></p>
                      <p><%= game.game_time.strftime("%I:%M%p") %><br></p>
                      <p><%= game.location %><br></p>
                      <p><%= link_to edit_game_path %><br></p>
                      <p><%= link_to "Edit", edit_game_path %><br>
                      </p>
                      <%= link_to 'Delete', team_path(game), :method => :delete %>
                </div>
                </div>
            
            
          <% end %>
          <% end %>
      <% end %>
  <% end %>
  </div>
</div>
















