<h1><%= @user.name %>'s: Dashboard</h1>

<style type="text/css"> 
    #team_create_form, #join_team_form {
      display: none;
    }
    #team_create_form_button,  #join_team_form_button{
      background-color: black;
      border: 1px solid #333;
      color: white;
      width: 150px;
      margin-top: 20px;
    }
    .hidden {
      display: none;
    }

</style>

<script type="text/javascript">
$(document).ready(function(){
      $('#team_create_form_button').click(function(){
        $('#team_create_form').toggle("slow");
      });
      $('#join_team_form_button').click(function(){
        $('#join_team_form').toggle("slow");
      });
    });
</script>

<%= @user.name %><br>
<%= "Age: " + @user.age.to_s %><br>
<%= "Height: " + @user.height.to_s %><br>
<%= "Weight: " + @user.weight.to_s + "lb"%><br>
<%= @user.bio %>
<br>
<div id="join_team_form_button">Join A Team</div>
  <div id="join_team_form">
    <label for="team_id_input">Enter Team Code</label>
    <input type="text" value="" name="team_id[id]" id="team_id_input"><br>
  </div>
<div id="team_create_form_button">Create a New Team</div>
<div id="team_create_form">
  <script type="text/javascript">
    $(document).ready(function(){
      $('.player_button').click(function(){
          $('.player_form').append('<input type="text" value="" name="team[roster][]" id="team_roster"><br>')
        });
      $('.game_button').click(function(){
      $('.game_form').append('<input type="text" value="" name="team[games][]" id="team_games"><br>')
      });
    });  
  </script>

  <%= form_tag({controller: "teams", action: "create"}, method: "post") do |f|%>
    <label for="team_name">Name</label>
    <input type="text" value="" name="team[name]" id="team_name"><br>
    <div class="player_form">
        <label for="team_roster">Add Teammate Emails</label>
        <input type="text" value="" name="team[roster][]" id="team_roster"><br>
    </div>
    <a class="player_button">Add Players</a><br>
    <div class="game_form">
        <label for="team_games">Team Schedule</label>
        <input type="text" value="" name="team[games][]" id="team_games"><br>
    </div>
    <a class="game_button">Add Games</a><br>
    <input type="submit" value="Create">
    <div class="hidden">
      <input type="text" value=<%= @user.id %> name="team[user_id]" id="team_games" >
    </div>
  <% end %>
</div>