<%= render partial: "nav.html" %>
<!-- NAV DROPDOWN WITH USERS TEAM -->
<div class="nav_dropdown">
  <% @user.teams.each do |team_object| %>
    <div class="nav_tile">
      <a href=<%="/teams/"+team_object.id.to_s%>> <%= team_object.name %> </a>
    </div>
  <% end %>
</div>

<!-- TITLE -->
<h1><%= @user.name %>'s: Dashboard</h1>

<!-- NAVBAR -->

<!-- USER INFO -->

<%= @user.name %><br>
<%= "Age: " + @user.age.to_s %><br>
<%= "Height: " + @user.height.to_s %><br>
<%= "Weight: " + @user.weight.to_s + "lb"%><br>
<%= @user.bio %>
<br>

<!-- JOIN TEAM  -->

<div id="join_team_form_button">Join A Team</div>
  <div id="join_team_form">
    <%= form_tag({controller: "teams", action: "edit"}, method: "get") do |f|%>
      <label for="team_id_input">Enter Team Code</label>
      <input type="text" value="" name="team_id[id]" id="team_id_input"><br>
      <input type="submit" value="Join Team">
    <% end %> 
  </div>

<!-- TEAM CREATE -->


<div id="team_create_form_button">Create a New Team</div>
<div id="team_create_form">

  <%= form_tag({controller: "teams", action: "create"}, method: "post") do |f|%>
    <label for="team_name">Name</label>
    <input type="text" value="" name="team[name]" id="team_name"><br>
    <div class="player_form">
        <label for="team_roster">Add Teammate Emails</label>
        <input type="text" value="" name="team[roster][]" id="team_roster"><br>
    </div>
    <a class="player_button">Add Players</a><br>
    <div class="game_form">
        <label for="team_games">Team Schedule</label>
        <input type="text" value="" name="team[games][]" id="team_games"><br>
    </div>
    <a class="game_button">Add Games</a><br>
    <input type="submit" value="Create">
    <div class="hidden">
      <input type="text" value=<%= @user.id %> name="team[user_id]" id="team_games" >
    </div>
  <% end %>
</div>