<%= render partial: "nav.html" %>
<div class="user_container">
<!-- NAV DROPDOWN WITH USERS TEAM -->
<div class="nav_dropdown">
  <% @user.teams.each do |team_object| %>
    <div class="nav_tile">
      <a href=<%="/teams/"+team_object.id.to_s%>> <%= team_object.name %> </a>
    </div> 
  <% end %>
  <div class="nav_tile">
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </div>
</div>

  <!-- USER-NAME -->
  <div class="user_name_container">
    <h1 class="user_name"><%= @user.name %></h1>
  </div>

  <div class="join_create_team_container">
  <!-- BUTTONS -->
    <div class="join_team">
      <!-- JOIN TEAM  -->
      <div id="join_team_form_button">Join Team</div>
        <div id="join_team_form">
          <%= form_tag({controller: "teams", action: "edit"}, method: "get") do |f|%>
            <label for="team_id_input">Enter Team Code</label>
            <input type="text" value="" name="team_id[id]" id="team_id_input"><br>
            <input type="submit" value="Join Team">
          <% end %> 
        </div>
    </div>

    <!-- TEAM CREATE -->
    <!-- <div class="join_team"> -->
    <div class="create_team">
      <div id="team_create_form_button">New Team</div>
      <div id="team_create_form">

        <%= form_tag({controller: "teams", action: "create"}, method: "post") do |f|%>
          <label for="team_name">Name</label>
          <input type="text" value="" name="team[name]" id="team_name"><br>
          <div class="game_form">
            <label for="team_sport_id">Sport: </label>
            <%= collection_select(:team, :sport_id, Sport.all, :id, :name, prompt: true) %>
          </div>
          <div class="player_form">
              <label for="team_roster">Add Teammate Emails</label>
              <input type="text" value="" name="team[roster][]" id="team_roster"><br>
          </div>
          <a class="player_button">Add Email</a><br>
          <input type="submit" value="Create">
          <div class="hidden">
            <input type="text" value=<%= @user.id %> name="team[user_id]" id="team_games" >
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="calendar_container">
  <div class="calendar">
  <% if @games.count == 0 %>
    <%= month_calendar events: @games, day_names: "date.day_names" do |date, games| %>
    <% if games.length == 0 %>
          <div class="cal_date_no_game"><%= date.day %></div>
    <% end %>
  <% end %>
  <% end %>
    <% if @games.count > 0 %>
      <%= month_calendar events: @games, day_names: "date.day_names" do |date, games| %>
      <% if games.length == 0 %>
            <div class="cal_date_no_game"><%= date.day %></div>
      <% end %>
      <!-- IF ANY GAME ARE PRESENT MAKE CONTAINER -->
      <% if games.length>0 %>
          <div class="cal_date"><%= date.day %></div>
      <% end %>
      <!-- ITERATION: populate cal days with game icon and info -->
        <% if games.length > 0 %>
        <% games.each do |game| %>
            <% if @user.games_not_attending.include?(game.id.to_s) %>
            <% else %>
            
                <div class="game_attendance">
                <img class=<%= game.team.sport.name %> src="">
                
                <div class='attending_container'>
                <div class='close_out'>X</div>
                <!-- FORM -->
                    <div class='not_attending'>
                      <%= form_tag({controller: "users", action: "update"}, method: "patch") do |f|%>
                        <input type="text" value="" name="games_not_attending[game_info]" class="games_not_attending_game_info"><br>
                        <input type="submit" value="I Can't Make It">
                      <% end %>
                    </div>
                <!-- END FORM -->
              </div>

                <div class="calendar_game_info">
                      <p><%= game.game_info %><br></p>
                      <p><%= game.game_time.strftime("%I:%M%p") %><br></p>
                      <p><%= game.location %><br></p> 
                </div>
                </div>
            
            <% end %>
          <% end %>
          <% end %>
      <% end %>
  <% end %>
  </div>
</div>

