<%= render partial: "nav.html" %>
<!-- NAV DROPDOWN WITH USERS TEAM -->
<div class="nav_dropdown">
  <% @user.teams.each do |team_object| %>
    <div class="nav_tile">
      <a href=<%="/teams/"+team_object.id.to_s%>> <%= team_object.name %> </a>
    </div> 
  <% end %>
  <div class="nav_tile">
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </div>
</div>
<div class="user_container">

  <!-- TITLE -->
  <h1><%= @user.name %>'s: Dashboard</h1>

  <!-- NAVBAR -->

  <!-- USER INFO -->

  <%= @user.name %><br>
  <%= "Age: " + @user.age.to_s %><br>
  <%= "Height: " + @user.height.to_s %><br>
  <%= "Weight: " + @user.weight.to_s + "lb"%><br>
  <%= @user.bio %>
  <br>

  <div class="join_create_team_container">
    <!-- JOIN TEAM  -->

    <div id="join_team_form_button">Join A Team</div>
      <div id="join_team_form">
        <%= form_tag({controller: "teams", action: "edit"}, method: "get") do |f|%>
          <label for="team_id_input">Enter Team Code</label>
          <input type="text" value="" name="team_id[id]" id="team_id_input"><br>
          <input type="submit" value="Join Team">
        <% end %> 
      </div>
  
  <!-- CREATE A TEAM -->
  <%= link_to "Create A Team!", new_team_path %>

<div class="calendar_container">
<% if @games.count > 0 %>
    <%= month_calendar events: @games do |date, games| %>
      <%= date %>
      <% games.each do |game| %>
        <% if @user.games_not_attending.include?(game.id.to_s) %>
        <% else %>
        <div>
          <div class="game_attendance">
              <%= game.game_info %><br>
          </div>
              <%= game.game_date %><br>
              <%= game.game_time.strftime("%I:%M%p") %><br>
              <%= game.location %><br>
          <%=link_to "Edit", edit_game_path(game) %> | 
          <%= link_to 'Delete', game_path(game), :method => :delete %>
        </div>
        <% end %>
      <% end %>
    <% end %>
<% end %>
</div>

<%= render partial: "notAttending.html" %>