<%= link_to "User Dashboard", current_user %>
<h1>Posts</h1>
<%= link_to "All Posts", posts_path %>
<label for="post_sport_id">Sort Posts By Sport:</label>
<%= form_tag({controller: "posts", action: "index"}, method: "get") do |f|%>
<%= collection_select(:post, :sport_id, Sport.all, :id, :name, prompt: true) %>
<input type="submit" value="Filter">
<% end %>

<% @posts.each do |post| %>
  <div><li class='add_post'>
  <div>
    <div class="post_title"><%= post.title %></div>
    <ul>
      <li>Game Date: <%= post.game.game_date %></li>
      <li>Game Time: <%= post.game.game_time.strftime("%I:%M%p") %></li>
      <li>Location: <%= post.game.location %></li>
    </ul>
  </div>
  <%= render partial: "attendingPostedGame.html" %></li></div>
<% end %>  